    body {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    
    h1,
    h2,
    h3 {
        font-family: sans-serif;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    
    h1:hover {
        font-size: 32px;
        color: rgb(236, 22, 22);
    }
    p {
        font-size:18px;
    }

    table { 
        border: 1px solid black;
    }
    
    td,
    th {
        border: 1px solid black;
    }
    
    figure figcaption {
        font-style: italic;
    }
    
    figure {
        float: right;
    }